<div id="loginpanelwrap">
			<div id="loginheader">
				商务短信平台
			</div>
			<div >
				<!--<form id="loginform" action="login.php" method="post">
					<div class="loginform_row"> 
						<label>用户名:</label>
						<input type="text" class="loginform_input" name="username" />
					</div>
					<div class="loginform_row">
						<label>密&nbsp;&nbsp;&nbsp;码:</label>
						<input type="password" class="loginform_input" name="passwd" />
					</div>
					<div class="loginform_row">
						<input type="submit" id="loginform_submit" value="登&nbsp;&nbsp;&nbsp;&nbsp;陆" />
					</div> 
				</form>-->
				<%= form_for(:session, url: sessions_path, html: { id: "loginform" }) do |f| %>
					<div class="loginform_row">
						<%= f.label "用户名" %>
						<%= f.text_field :name, class: "loginform_input" %>
					</div>
					<div class="loginform_row">
						<%= f.label "密码" %>
						<%= f.password_field :password, class: "loginform_input" %>
					</div>
					<div class="loginform_row">
						<%= f.submit "登陆", id: "loginform_submit" %>
					</div> 
				<% end %>
			</div>
		</div>